# Xcode user data
xcuserdata/
*.xcuserstate

# Build folders
DerivedData/
build/

# Swift Package Manager
.build/
Packages/
.swiftpm/

# macOS
.DS_Store

# Archives
*.ipa

# Xcode settings
*.hmap
*.xcsettings